### First Part

In [47]:
import pandas as pd #importing libraries

In [48]:
data = pd.read_csv('room.txt', sep=",") #reading from .txt file, room is the data given on the test

In [49]:
data.head(5) #looking at the top 5 rows of data

   Floor  Room  Max People  Start Time  End Time
0      7    11           8         900       915
1      7    11           8        1430      1500
2      8    23           6        1000      1100
3      8    23           6        1400      1500
4      8    43           7        1130      1230

In [50]:
def roomSearch(n,f,s,e):
    #A function that takes:
    # n - number of people
    # f - floor
    # s - start time
    # e - end time
    
    row = data.loc[(data['Start Time']==s) & (data['End Time']==e)] #locate time slot by start and end time
    if (n < row['Max People'].array):
        return row['Floor'],row['Room'] #return room and floor number
    else:
        print('No room available')

In [51]:
f,r = roomSearch(5,8,1030,1130) # 5 people on floor 8 between 10:30 and 11:30

In [52]:
print('Floor: ',f.array[0])
print('Room: ',r.array[0])

Floor:  9
Room:  547

The above method is not refined as it returns the room that is first on the list based on how it is stored. If there were two floors then it would return the floor that was stored first which may not always be the optimized solution. We will address that issue in the next few lines of code

### Nearest Floor

In [53]:
data1 = pd.read_csv('room1.txt', sep=",") #reading from .txt file, we have added a new line to have two floors with same time slots

In [54]:
data1

    Floor  Room  Max People  Start Time  End Time
0       7    11           8         900       915
1       7    11           8        1430      1500
2       8    23           6        1000      1100
3       8    23           6        1400      1500
4       8    43           7        1130      1230
5       8    43           7        1700      1730
6       9   511           9         930      1030
7      10   501           9        1030      1130
8       9   511           9        1200      1215
9       9   511           9        1515      1615
10      9   527           4         900      1100
11      9   527           4        1400      1600
12      9   547           8        1030      1130
13      9   547           8        1330      1530
14      9   547           8        1630      1730

Line 8 or index 7 has a new floor 10 with a matching time slot to 9.547

In [55]:
def roomSearch1(n,f,s,e):
    row = data1.loc[(data1['Start Time']==s) & (data1['End Time']==e)]
    if (n < row['Max People'].array):
        if row.shape[0] > 1:
            floors = row.Floor.tolist()
            diff_func = lambda x : abs(x - f)
            nearest_floor = min(floors, key=diff_func)
            target = row.loc[row['Floor']==nearest_floor]
            return target['Floor'],target['Room']
            
    else:
        print('No room available')

#### Scenario 1 - 5 people on floor 8 between 10:30 and 11:30

In [69]:
f,r = roomSearch1(5,8,1030,1130) # 5 people on floor 8 between 10:30 and 11:30
print('Floor: ',f.array[0])
print('Room: ',r.array[0])

Floor:  9
Room:  547

#### Scenario 2 - 5 people on floor 9 between 10:30 and 11:30

In [72]:
f,r = roomSearch1(5,9,1030,1130) # 5 people on floor 9 between 10:30 and 11:30
print('Floor: ',f.array[0])
print('Room: ',r.array[0])

Floor:  9
Room:  547

#### Scenario 3 - 5 people on floor 10 between 10:30 and 11:30

In [73]:
f,r = roomSearch1(5,10,1030,1130) # 5 people on floor 10 between 10:30 and 11:30
print('Floor: ',f.array[0])
print('Room: ',r.array[0])

Floor:  10
Room:  501

#### Scenario 4 - 5 people on floor 11 between 10:30 and 11:30

In [74]:
f,r = roomSearch1(5,11,1030,1130) # 5 people on floor 11 between 10:30 and 11:30
print('Floor: ',f.array[0])
print('Room: ',r.array[0])

Floor:  10
Room:  501